<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="hr_admin_leave_management"
        name="Leave Management"
        action="hr_leave_dashboard.action_hr_leave_dashboard"
        sequence="60"
        groups="hr_leave_dashboard.group_leave_employee,hr_leave_dashboard.group_leave_permission_team,hr_leave_dashboard.group_leave_permission_approve,hr_leave_dashboard.group_leave_permission_operations,hr_leave_dashboard.group_leave_permission_configuration,hr_leave_dashboard.group_leave_permission_operational_reports,hr_leave_dashboard.group_leave_permission_strategic_reports,hr_leave_dashboard.group_leave_permission_audit,base.group_system"
    />

    <record id="hr_leave_dashboard.hr_admin_leave_management" model="ir.ui.menu">
            <field name="icon_class">fa fa-calendar-check-o</field>
            <field name="icon_color">#EC4899</field>
            <field name="category_name">CleonHR-HR Admin</field>
            <field name="sequence">60</field>
        </record>

</odoo>
