<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- ===================================================== -->
    <!-- ACTIONS -->
    <!-- ===================================================== -->

    <!-- Dashboard -->
    <record id="action_document_dashboard" model="ir.actions.act_window">
        <field name="name">Dashboard</field>
        <field name="res_model">doc.folder</field>
        <field name="view_mode">tree,form</field>
    </record>
    <record id="action_document_dashboard_url" model="ir.actions.act_url">
        <field name="name">HR Documents Management</field>
        <field name="url">/document-management</field>
        <field name="target">self</field>
    </record>
    
    <!-- Folder -->
    <record id="action_doc_folder" model="ir.actions.act_window">
        <field name="name">Folders</field>
        <field name="res_model">doc.folder</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Documents -->
    <record id="action_doc_document" model="ir.actions.act_window">
        <field name="name">Documents</field>
        <field name="res_model">doc.document</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Share Links -->
    <record id="action_doc_share_link" model="ir.actions.act_window">
        <field name="name">Shared Links</field>
        <field name="res_model">doc.share.link</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Versions -->
    <record id="action_doc_document_version" model="ir.actions.act_window">
        <field name="name">Version History</field>
        <field name="res_model">doc.document.version</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Compliance Record -->
    <record id="action_doc_compliance_record" model="ir.actions.act_window">
        <field name="name">Compliance Records</field>
        <field name="res_model">doc.compliance.record</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Compliance Requirement -->
    <record id="action_doc_compliance_requirement" model="ir.actions.act_window">
        <field name="name">Compliance Requirements</field>
        <field name="res_model">doc.compliance.requirement</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Compliance Checklist -->
    <record id="action_hr_document_checklist" model="ir.actions.act_window">
        <field name="name">Compliance Checklist</field>
        <field name="res_model">hr_document_checklist</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Templates -->
    <record id="action_hr_document_template" model="ir.actions.act_window">
        <field name="name">Document Templates</field>
        <field name="res_model">hr_document_template</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Document Types -->
    <record id="action_doc_document_type" model="ir.actions.act_window">
        <field name="name">Document Types</field>
        <field name="res_model">doc.document.type</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Retention -->
    <record id="action_doc_retention_policy" model="ir.actions.act_window">
        <field name="name">Retention Policies</field>
        <field name="res_model">doc.retention.policy</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Storage -->
    <!-- <record id="action_document_storage_management" model="ir.actions.act_window">
        <field name="name">Storage Management</field>
        <field name="res_model">document_storage_management</field>
        <field name="view_mode">tree,form</field>
    </record> -->


    <!-- ===================================================== -->
    <!-- MENUS -->
    <!-- ===================================================== -->

    <!-- Root -->
     
    <menuitem
        id="menu_document_root"
        name="Document Management2"
        sequence="5"
        parent="hr_administration.hr_administration_dashboard"
    />
    

    <record id="cleon_document_management.menu_document_root" model="ir.ui.menu">
            <field name="icon_class">fa fa-briefcase</field>
            <field name="category_name">CleonHR-HR Admin</field>
            <field name="action" ref="cleon_document_management.action_document_dashboard_url"/>
        </record>

     
    <!-- Dashboard -->
    <menuitem
        id="menu_document_dashboard"
        name="Dashboard"
        parent="menu_document_root"
        action="action_document_dashboard"
        sequence="1"/>
    
    <!-- Documents -->
    <menuitem
        id="menu_document_documents"
        name="Documents"
        parent="menu_document_root"
        sequence="10"/>

    <menuitem
        id="menu_doc_folder"
        name="Folders"
        parent="menu_document_documents"
        action="action_doc_folder"
        sequence="1"/>

    <menuitem
        id="menu_doc_document"
        name="Documents"
        parent="menu_document_documents"
        action="action_doc_document"
        sequence="2"/>

    <menuitem
        id="menu_doc_share"
        name="Shared Links"
        parent="menu_document_documents"
        action="action_doc_share_link"
        sequence="3"/>

    <menuitem
        id="menu_doc_version"
        name="Version History"
        parent="menu_document_documents"
        action="action_doc_document_version"
        sequence="4"/>


    <!-- Compliance -->
    <menuitem
        id="menu_document_compliance"
        name="Compliance"
        parent="menu_document_root"
        sequence="20"/>

    <menuitem
        id="menu_compliance_record"
        name="Compliance Records"
        parent="menu_document_compliance"
        action="action_doc_compliance_record"
        sequence="1"/>

    <menuitem
        id="menu_compliance_requirement"
        name="Compliance Requirements"
        parent="menu_document_compliance"
        action="action_doc_compliance_requirement"
        sequence="2"/>

    <menuitem
        id="menu_compliance_checklist"
        name="Compliance Checklist"
        parent="menu_document_compliance"
        action="action_hr_document_checklist"
        sequence="3"/>


    <!-- Templates -->
    <menuitem
        id="menu_document_template_root"
        name="Templates"
        parent="menu_document_root"
        sequence="30"/>

    <menuitem
        id="menu_document_template"
        name="Document Templates"
        parent="menu_document_template_root"
        action="action_hr_document_template"
        sequence="1"/>


    <!-- Configuration -->
    <menuitem
        id="menu_document_configuration"
        name="Configuration"
        parent="menu_document_root"
        sequence="90"
        groups="base.group_system"/>

    <menuitem
        id="menu_document_type"
        name="Document Types"
        parent="menu_document_configuration"
        action="action_doc_document_type"
        sequence="1"
        groups="base.group_system"/>

    <menuitem
        id="menu_retention_policy"
        name="Retention Policies"
        parent="menu_document_configuration"
        action="action_doc_retention_policy"
        sequence="2"
        groups="base.group_system"/>

    <!-- <menuitem
        id="menu_storage_management"
        name="Storage Management"
        parent="menu_document_configuration"
        action="action_document_storage_management"
        sequence="3"
        groups="base.group_system"/> -->

</odoo>